/*flash*/
.alert-error {
    background-color: #E57373;
    border: none;
    position: fixed;
    z-index: 9;
    top: 5px;
    left: 50%;
    color: var(--black);
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 5px;
    box-shadow: 0 1px 5px #000;
	font-family: 'Open Sans', sans-serif;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.alert-notice {
    position: absolute;
    z-index: 8;
    top: 5px;
    background-color: var(--black);
    border: none;
    color: var(--blue);
    text-align: center;
    width: 50%;
    margin-left: 25%;
    padding: 5px;
    box-shadow: 0 1px 5px #000;
 }

 .alert .close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    border: none;
    outline: none;
 }