.home-half-bg{
	background-image: url("/BG.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	padding: 20px;
	position: static;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.home-half-bg2{
	background-image: url("/BG2.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	height: 300px;
}

.home-half-bg .uniride-title{
  position: relative;
}

.banner{
	background-color: var(--white);
	padding: 50px 20px;
	text-align: center;
}

.banner #banner1-text{
	font-size: 18px;
	color: var(--black);
}

.banner #banner2-text{
	margin: auto;
	font-size: 24px;
	color: var(--black);
}

.banner .button.special{
	margin: 50px 15vw;
}

#footer{
	padding: 20px 10px; 
	text-align: center;
	font-size: 11px;
	color: rgba(0, 0, 0, 0.5);
	background-color: var(--blue);
}
