// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-info{
	background-color: var(--black);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	display: block;
	padding: 25px 100px;
	padding-top: 10%;;
	position: static;
	top: 0;
	width: 100%;
	min-height: 100%;
	overflow-y: visible;
	box-sizing: border-box;
	color: var(--white);
}

.profile-info .profile-photo{
	display: block;
	margin: auto;
	margin-bottom: 20px;
	height: 10vw;
	width: 10vw;
	border-radius: 150px;
	border: solid 2px var(--white);
}

.profile-info .profile-name{
	display: block;
	margin: auto;
	margin-bottom: 60px;
	width: 100%;
	text-align: center;
	font-size: 2vw;
	letter-spacing: 5px;
  	font-family: 'Josefin Sans', sans-serif;
}

.profile-info .container{
	margin: auto;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
	margin-bottom: 40px;
}

.profile-info .rating{
	display: block;
	margin: auto;
	padding: 20px;
	text-align: center;
	height: 40px;
	width: 300px;
	color: var(--blue);
	border-bottom: solid 1px rgba(255, 255, 255, 0.5);
	font-size: 30px;
}

.rating .fa{
	margin-left: 5px;
	margin-right: 5px;
}

.fixed-button{
	z-index: 2;
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 25px;
	color: var(--blue);
	opacity: 1;
    -webkit-transform:scale(1.0);
	transition: all 0.3s;
}

.fixed-button.edit:hover{
    transform:scale(1.3);
	color: #0B7AD5;
}

.fixed-button.new{
	right: 60px;
}

.container.profile{
	max-width: 100% !important;
	width: 95% !important;
	text-align: center;
	min-height: 400px;
}

.container.profile #content{
	border-top: solid 1px var(--black);
}

#user-info .four{
	color: var(--black);
	height: 30px;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 2px;
	padding: 3px; 
}

#user-info .tab-button{
	color: var(--black);
  	font-family: 'Josefin Sans', sans-serif;
	opacity: 0.8;
}

#user-info .tab-button.selected{
	opacity: 1;
	font-weight: 700;
	border-bottom: solid 3px var(--blue);
}

#user-info #show-info{
	width: 100%;
	height: 20em;
}

#trips-info{
	display: none;
}

#post-info{
	display: none;
}

.divider.profile-page{
	margin: 2px auto 20px;
}
