// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-wrapper{
	background-color: #f7f7f7;
}

.profile-wrapper .row{
	margin-bottom: 3vh;
	text-align: center;
}

.profile-wrapper .photo{
	display: block;
	margin: auto;
	height: 220px;
	width: 220px;
	border-radius: 200px;
	border: solid 1px #f7f7f7;
	overflow: hidden;
}

.profile-wrapper .name{
	color: #2c2d2c;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	text-shadow: 3px 1px 3px;
	border-bottom: solid 1px #9f9f9f;
}

#user-info .row{
	margin-bottom: 0;
}

#user-info .four{
	height: 30px;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #00cdcf;
	padding: 3px; 
	box-shadow: inset 0 0 5px #747474;
}

#user-info .selected{
	background-color: #f7f7f7;
	color: #000;
	box-shadow: 0 0 0 0;
	border: solid 1px rgba(0, 0, 0, 0.3);
}

#user-info #show-info{
	width: 100%;
	height: 20em;
	border: solid 1px rgba(0, 0, 0, 0.3);
}
